* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande";
}

h1 {
  text-align: center;
  margin: 5rem 0;
  font-size: 4rem;
}

.season-container-left,
.season-container-right {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: 5rem;
  margin: 0 3rem 6rem 3rem;
}

.season-container-left > p,
.season-container-right > p {
  text-align: center;
  margin: 0 1rem;
  font-size: 2rem;
  transition: font-size 0.5s;
}

.season-container-left > img {
  border-radius: 0.4rem;
  opacity: 0.5;
  width: 30%;
  margin-right: auto;
  margin-left: 3rem;

  transition: width 0.5s, opacity 0.1s ease-in;
}

.season-container-right > img {
  border-radius: 0.4rem;
  opacity: 0.5;
  width: 30%;
  margin-left: auto;
  margin-right: 3rem;

  transition: width 0.5s, opacity 0.1s ease-in, transform 0.2s ease-in;
}

.season-container-left > img:hover,
.season-container-right > img:hover {
  opacity: 1;
  transform: scale(1.05);
}

@media screen and (min-width: 1500px) {
  .season-container-left > img,
  .season-container-right > img {
    width: 25%;
  }
  .season-container-left > img {
    margin-right: 14rem;
  }
  .season-container-right > img {
    margin-left: 14rem;
  }
}

@media screen and (max-width: 900px) {
  .season-container-left > p,
  .season-container-right > p {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 600px) {
  .season-container-left > p,
  .season-container-right > p {
    font-size: 1rem;
  }
}
